{% extends "login_success.html" %}


{% block body %}
<script >
function getCookie(name) {
    var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
    return r ? r[1] : undefined;
}
var row = 0;
$(document).ready(function(){
	$("#submit").click(function(){
	    var mc = myform.mc.value;
	    var sl = myform.sl.value;
	    var jinjia = myform.jinjia.value;
	    var bz = myform.bz.value;
	    if (mc=='' || sl =='' || jinjia==''){
	        alert('not null');
	        return 0;
	    }
	    xsrf=getCookie('_xsrf');
		$.ajax({
			type: "POST",
			url: "/add-gift",
			dataType: "json",
			data:{"_xsrf":xsrf, "mc":mc, "sl":sl,"jinjia":jinjia,"bz":bz},
			success: function(msg){
				alert(msg['message']);
			}
		});
	});
});
</script>
    {% if user=='admin' %}
    <p>添加：</p>
    <div class="page">
    <form name="myform">

        <dl class="page-list">
            <dt>名称:<dd class="input"><input type="text" name="mc"> </dd></dt>
            <dt>数量:<dd class="input"><input type="text" name="sl"> </dd></dt>
            <dt>进价:<dd class="input"><input type="text" name="jinjia"> </dd></dt>
            <dt>备注:<dd class="input"><input type="text" name="bz"> </dd></dt>
            <button id="submit" type="button">提交</button>  <!-- 添加成功活着失败用 JS 实现  -->
            <input type="reset" value="重新输入" >

        </dl>

        {% if res!=None and res!='' %}
        {{res}}
        <script> alert('添加成功!')</script>
        {% elif res=='' %}
        <p>请输入以上信息</p>
        {% else %}
        <script> alert('添加失败!')</script>
        <p>重新添加.</p>
        {% end %}

    </form>
    </div>
    {% else %}
    <u>权限错误！请重新登陆.</u>
    {% end %}
{% end %}