{% extends "login_success.html" %}

{% block body %}
        <div class="content" style="top:500px">
            <p>搜索:</p>
            <form method="post" action="/search" name="form_search">
                {% raw xsrf_form_html() %}
                <tbody>
                    <dl>
                        <th width="20px"><input type="text" name="lx" placeholder="类型"></th>
                        <th><input type="text" name="haoma" placeholder="号码"></th>
                        <th><input type="text" name="rkrq" placeholder="入库日期"></th>
                    </dl>
                    <dl>
                        <th><input type="text" name="ckrq" placeholder="出库日期"></th>
                        <th><input type="text" name="fkfs" placeholder="付款方式"></th>
                        <input type="submit" name="search-card" value="搜索" onclick="return sousuo()">
                    </dl>
                </tbody>

            </form>
        </div>

        <table cellspacing="0" cellpadding="0" class="bordered">
            <colgroup>
                <col width="3%">
                <col width="5%">
                <col width="10%">
                <col width="15%">
                <col width="15%">
                {% if user=='admin' %}<col width="5%">{% end %}
                <col width="5%">
                <col width="5%">
                <col width="10%">
                <col width="12%">
            </colgroup>

                <tr>
                    <th>id</th>
                    <th>类型</th>
                    <th>号码</th>
                    <th>入库日期</th>
                    <th>出库日期</th>
                    {% if user=='admin' %}<th>进价</th>{% end %}
                    <th>售价</th>
                    <th>付款方式</th>
                    <th>备注</th>
                    <th> 操作 </th>
                 </tr>
            <!--  {% module Entry_mobile('card') %}  -->
        <!-- use module to show list.  -->
        <tbody>
            {% for list in res %}
                {% module List_card(list,user) %}
            {% end %}
        </tbody>
        </table>
        <!--
            {% block tbody %}
            {% end %}
        -->
        <script>
            function sousuo(){
            if (form_search.lx.value=='' && form_search.haoma.value=='' && form_search.rkrq.value=='' && form_search.ckrq.value=='' && form_search.fkfs.value==''){
            alert ('请输入搜索条件');
            }
            }
        </script>
{% end %}

